# Analyzing the impact of Political and Economic Sentiment on Healthcare and Tech stock market Performance in Election Year 2024

## By: Dennis Goldenberg, Kevin Shao, and Samaa Nadkarni

In [3]:
import numpy as np
import pandas as pd
import matplotlib as plt
from datetime import datetime, date

# Reading in the Data

In [ ]:
#trump's odds
trump_odds = pd.read_csv("data/Trump_implied_prob_victory_odds.csv")
trump_odds["Date (UTC)"] = trump_odds["Date (UTC)"].apply(lambda x: datetime.strptime(x,
                                                          '%m-%d-%Y 00:00').date())
trump_odds.drop(columns = "Timestamp (UTC)", inplace = True)

#t-bills 2 Year
tbills_2Y = pd.read_csv("data/Tbills_2Y_mkt_yield.csv")
tbills_2Y['DATE'] = tbills_2Y['DATE'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d').date())
tbills_2Y

#t-bills 10 Year
tbills_10Y = pd.read_csv("data/Tbills_10Y_mkt_yield.csv")
tbills_10Y['DATE'] = tbills_10Y['DATE'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d').date())
tbills_10Y

#Other Project Data
other_data = pd.read_csv("data/Project Data V1.csv")
other_data["date"] = other_data["date"].apply(lambda x: datetime.strptime(x, '%Y-%m-%d').date())

#Continue merging procedure
pd.merge(left = tbills_2Y, right = tbills_10Y, on = 'DATE')

           DATE  DGS2 DGS10
0    2024-01-05  4.40  4.05
1    2024-01-08  4.36  4.01
2    2024-01-09  4.36  4.02
3    2024-01-10  4.37  4.04
4    2024-01-11  4.26  3.98
..          ...   ...   ...
214  2024-10-31  4.16  4.28
215  2024-11-01  4.21  4.37
216  2024-11-04  4.17  4.31
217  2024-11-05  4.19  4.26
218  2024-11-06  4.27  4.42

[219 rows x 3 columns]